
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/Ride.png" height="26" alt="" />
          <p>Ride offers a seamless car rental experience. 
            With a diverse fleet of vehicles, flexible rental options,
            and convenient online booking, you can hit the road with confidence.<br>

            Experience the freedom of the road with Ride. 
            Wide range of cars, 24/7 support, easy booking. 
            Rent with confidence. Drive happy, Ride today. 
        </p>
        </div>
        <div class="col-md-4 text-center d-none d-md-block">
          <ul class="navbar-nav">
            <li class="item">
              <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="item">
              <a routerLink="/rent" class="nav-link">Rent Now</a>
            </li>
            <li class="item">
              <a href="/" routerLink="/" class="nav-link">About</a>
            </li>
            <li class="item">
              <a href="/" routerLink="/" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-right contact-section">
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-map-marker"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
                171/E/17, Main Street, Malava, Kuruwita, Ratnapura
              </p>
            </div>
          </div>
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-envelope"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
                contact@ride.com
              </p>
            </div>
          </div>
          <div class="row contact-data">
            <div class="col-5 d-none d-lg-block"></div>
            <div class="col-1">
              <i class="fas fa-phone"> </i>
            </div>
            <div class="col-6">
              <p class="contact">
                +94-70-388-0082
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p>2022 © Ride. All right reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
